<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.IUserDao" >

	<select id="findUserByPassword" resultType="org.hey.modle.User">
		select * from bank_login where userName = #{userName} and password = #{password}
	</select>

	<select id="findAllAdministrators" parameterType="Map" resultType="org.hey.modle.User">
		select id,userName,roleId,createTime,updateUser,updateTime from bank_login where roleId = 1
		<if test="page!=null and limit!=null">
			limit #{page},#{limit}
		</if>
	</select>

	<!--查询记录总数-->
	<select id="queryCount"  resultType="java.lang.Integer">
        SELECT count(*) FROM  bank_login where roleId = 1
    </select>

	<select id="findAllOperators" parameterType="Map" resultType="org.hey.modle.User">
		select * from bank_login where roleId = 2
	</select>

	<!--查询记录总数-->
	<select id="queryCountForOperator"  resultType="java.lang.Integer">
        SELECT count(*) FROM  bank_login where roleId = 2
    </select>
</mapper>